body {
  background-color: #ffffff;
  font-family: "HelveticaNeueW01-55Roma",Helvetica,Arial,sans-serif;
}

.header{
  max-height: 170px;
}
.container{
  margin-top: 100px;
  background: #F0F1F2;
  background-clip: padding-box;
}
@media (min-width: 1200px){
.container {
    width: 755px;
}
}
